@use "variables" as *;

.sidebar {
  &-form {
    padding: 15px 30px 30px;

    color: $color-light;

    font-size: 1.25rem;

    @media (max-width: 992px) {
      border-top: 1px solid $color-light;
    }

    @media (min-width: 992px) {
      border-right: 1px solid $color-light;
      background-color: rgba($color-light, 0.25);
    }

    &-item {
      margin: 10px 0;
      padding-left: 28px;
    }

    & fieldset {
      margin-bottom: 16px;
    }

    & legend {
      margin-bottom: 8px;

      font-weight: 700;
    }

    &-actions {
      .btn--transparent {
        color: $color-light;
        font-size: 1.25rem;
      }

      &__btn {
        font-size: 1rem;
        border-color: $color-light;
        background-color: $color-dark;
      }
    }
  }
}
