@use "variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background: $color-dark url(../img/patt.png);
  background-position: 50% 0;
}

dt {
  display: inline-block;
  &:after {
    content: ":";
  }
}
dd {
  display: inline-block;

  margin-left: 0;
}

.btn {
  &--transparent {
    margin-bottom: 30px;

    transition: all 0s;

    color: $color-light;
    border: none;
    background-color: transparent;

    font-size: 1.25rem;
  }
}
