@use "variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
body {
  background: $color-dark url(../img/patt.png);
  background-position: 50% 0;
}
