@use "variables" as *;

.header {
  &-nav {
    background-color: rgba($color-light, 0.8);
  }

  &-carousel {
    border-bottom: 1px solid $color-light;
    background-color: rgba(#000000, 0.3);
  }
}
